".source.js, .source.jsx, .source.ts, .source.tsx, .source.flow":
  "React: import empty":
    prefix: "im"
    body: "import ${1} from '${2}';"

  "React: import empty named":
    prefix: "in"
    body: "import { ${1} } from '${2}';"

  "React: import":
    prefix: "ir"
    body: "import React from 'react';"

  "React: import with Component":
    prefix: "irc"
    body: "import React, { Component } from 'react';"

  "React: import with PureComponent":
    prefix: "irpc"
    body: "import React, { PureComponent } from 'react';"

  "React: import with PropTypes":
    prefix: "irp"
    body: "import React from 'react';\nimport PropTypes from 'prop-types';"

  "React: import PropTypes":
    prefix: "ipt"
    body: "import PropTypes from 'prop-types';"

  "React: import with Component and PropTypes":
    prefix: "ircp"
    body: "import React, { Component } from 'react';\nimport PropTypes from 'prop-types';"

  "React: import react-dom()":
    prefix: "ird"
    body: "import ReactDOM from 'react-dom';"

  "React: Import with useState":
    prefix: "irs",
    body: "import React, { useState } from 'react';"

  "React: Import with useEffect":
    prefix: "ire",
    body: "import React, { useEffect } from 'react';"

  "React: Import with useState and useEffect":
    prefix: "irse",
    body: "import React, { useState, useEffect } from 'react';"

  "React: export empty()":
    prefix: "ex"
    body: "export ${1};"

  "React: export default empty()":
    prefix: "exd"
    body: "export default ${1};"

  "React: componentDidMount() { ... }":
    prefix: "cdm"
    body: "componentDidMount() {\n\t${1}\n}${2}"

  "React: componentWillMount() { ... }":
    prefix: "cwm"
    body: "componentWillMount() {\n\t${1}\n}${2}"

  "React: componentWillReceiveProps(np) { ... }":
    prefix: "cwr"
    body: "componentWillReceiveProps(nextProps) {\n\t${1}\n}${2}"

  "React: shouldComponentUpdate(np, ns) { ... }":
    prefix: "scu"
    body: "shouldComponentUpdate(nextProps, nextState) {\n\t${1}\n}${2}"

  "React: componentWillUpdate(np, ns) { ... }":
    prefix: "cwup"
    body: "componentWillUpdate(nextProps, nextState) {\n\t${1}\n}${2}"

  "React: componentDidUpdate(pp, ps) { ... }":
    prefix: "cdup"
    body: "componentDidUpdate(prevProps, prevState) {\n\t${1}\n}${2}"

  "React: componentWillUnmount() { ... }":
    prefix: "cwun"
    body: "componentWillUnmount() {\n\t${1}\n}${2}"

  "React: componentDidCatch(error, info) { ... }":
    prefix: "cdc"
    body: "componentDidCatch(error, info) {\n\t${1}\n}${2}"

  "React: cx({ ... })":
    prefix: "cx"
    body: "cx({\n\t$1: $2\n});"

  "React: forceUpdate(...)":
    prefix: "fup"
    body: "forceUpdate(${1:callback});"

  "React: Class.contextTypes = { ... }":
    prefix: "cct"
    body: "${1}.contextTypes = {\n\t${2}: PropTypes.${3:string}\n};"

  "React: Class.propTypes = { ... }":
    prefix: "cpt"
    body: "${1}.propTypes = {\n\t${2}: PropTypes.${3:string}\n};"

  "React: Class.defaultProps = { ... }":
    prefix: "cdp"
    body: "${1}.defaultProps = {\n\t${2}: ${3}\n};"

  "React: static contextTypes = { ... }":
    prefix: "scct"
    body: "static contextTypes = {\n\t${1}: PropTypes.${2:string}\n}"

  "React: static propTypes = { ... }":
    prefix: "scpt"
    body: "static propTypes = {\n\t${1}: PropTypes.${2:string}\n}"

  "React: static defaultProps = { ... }":
    prefix: "scdp"
    body: "static defaultProps = {\n\t${1}: ${2}\n}"

  "React: class skeleton":
    prefix: "cer"
    body: "import React, { Component } from 'react';\n\nclass ${1} extends Component {\n\n\trender() {\n\t\treturn (\n\t\t\t${2:<div></div>}\n\t\t);\n\t}\n\n}\n\nexport default ${1};"

  "React: pure class skeleton":
    prefix: "cepr"
    body: "import React, { PureComponent } from 'react';\n\nclass ${1} extends PureComponent {\n\n\trender() {\n\t\treturn (\n\t\t\t${2:<div></div>}\n\t\t);\n\t}\n\n}\n\nexport default ${1};"

  "React: Stateless Component":
    prefix: "rsc"
    body: "import React from 'react';\n\nconst ${1} = ({${2}}) => (\n\t<div>${4}</div>\n);\n\nexport default ${1};"

  "React: Stateless Component PropTypes":
    prefix: "rscp"
    body: "import React from 'react';\nimport PropTypes from 'prop-types';\n\nconst ${1} = ({${2}}) => (\n\t<div>${4}</div>\n);\n\n${1}.propTypes = {\n\t${2}: PropTypes.${3}\n};\n\nexport default ${1};"

  "React: Stateless Component Return":
    prefix: "rscr"
    body: "import React from 'react';\nimport PropTypes from 'prop-types';\n\nconst ${1} = ({${2}}) => {\n\treturn (\n\t\t<div>${4}</div>\n\t);\n}\n\n${1}.propTypes = {\n\t${2}: PropTypes.${3}\n};\n\nexport default ${1};"

  "React: Stateless Component Click":
    prefix: "rscc"
    body: "import React from 'react';\nimport PropTypes from 'prop-types';\n\nconst ${1} = ({${2}}) => {\n\tconst handleClick = () => {};\n\treturn (\n\t\t<div onClick={handleClick}>${4}</div>\n\t);\n}\n\n${1}.propTypes = {\n\t${2}: PropTypes.${3}\n};\n\nexport default ${1};"

  "React: Stateless Function":
    prefix: "rsf"
    body: "const ${1} = ({${2}}) => (\n\t<div>{${2}}</div>\n);"

  "React: Component displayName":
    prefix: "cdn"
    body: "${1}.displayName = '${1}';"

  "React: render() { return ... }":
    prefix: "ren"
    body: "render() {\n\treturn (\n\t\t${1:<div></div>}\n\t);\n}"

  "React: setState({ ... })":
    prefix: "sst"
    body: "this.setState({\n\t${1}: ${2}\n});"

  "React: useState(const [... , ...])":
    prefix: "ust"
    body: "const [${1}, set${1/(.+)/\\u$1/}] = useState(${2})"

  "React: this.props.":
    prefix: "props"
    body: "this.props.${1}"

  "React: destruct this.props.":
    prefix: "dprops"
    body: "const { ${1} } = this.props;"

  "React: this.state.":
    prefix: "state"
    body: "this.state.${1}"

  "React: destruct this.state.":
    prefix: "dstate"
    body: "const { ${1} } = this.state;"

  "React: destruct object.":
    prefix: "dobj"
    body: "const { ${1} } = ${2};"

  "React: render(component, container, [callback])":
    prefix: "rrc"
    body: "React.render(${1:<$2 />}, ${3:document.body}${4:, ${5:callback}});"

  "React: Fragment":
    prefix: "frag"
    body: "<React.Fragment>\n\t$1\n</React.Fragment>"

  "React: constructor(props)":
    prefix: "cns"
    body: "constructor(props) {\n\tsuper(props);\n\t${1:this.state = ${2};}\n}"

  "React: class Foo extends Bar":
    prefix: "clss"
    body: "class ${1:Foo} extends ${2:React.Component} {\n\trender() {\n\t\t${3}\n\t}\n}"

  "React: dangerouslySetInnerHTML":
    prefix: "dnghtml"
    body: "dangerouslySetInnerHTML={{__html: ${1}}}"


  # PropTypes
  "React: PropType array":
    prefix: 'pta',
    body: "PropTypes.array,"

  "React: PropType array required":
    prefix: "ptar",
    body: "PropTypes.array.isRequired,"

  "React: PropType bool":
    prefix: "ptb",
    body: "PropTypes.bool,"

  "React: PropType bool required":
    prefix: "ptbr",
    body: "PropTypes.bool.isRequired,"

  "React: PropType function":
    prefix: "ptf",
    body: "PropTypes.func,"

  "React: PropType function required":
    prefix: "ptfr",
    body: "PropTypes.func.isRequired,"

  "React: PropType number":
    prefix: "ptn",
    body: "PropTypes.number,"

  "React: PropType number required":
    prefix: "ptnr",
    body: "PropTypes.number.isRequired,"

  "React: PropType object":
    prefix: "pto",
    body: "PropTypes.object,"

  "React: PropType object required":
    prefix: "ptor",
    body: "PropTypes.object.isRequired,"

  "React: PropType string":
    prefix: "pts",
    body: "PropTypes.string,"

  "React: PropType string required":
    prefix: "ptsr",
    body: "PropTypes.string.isRequired,"

  "React: PropType node":
    prefix: "ptnd",
    body: "PropTypes.node,"

  "React: PropType node required":
    prefix: "ptndr",
    body: "PropTypes.node.isRequired,"

  "React: PropType element":
    prefix: "ptel",
    body: "PropTypes.element,"

  "React: PropType element required":
    prefix: "ptelr",
    body: "PropTypes.element.isRequired,"

  "React: PropType instanceOf":
    prefix: "pti",
    body: "PropTypes.instanceOf(${1}),"

  "React: PropType instanceOf required":
    prefix: "ptir",
    body: "PropTypes.instanceOf(${1}).isRequired,"

  "React: PropType oneOf":
    prefix: "pte",
    body: "PropTypes.oneOf([${1}]),"

  "React: PropType oneOf required":
    prefix: "pter",
    body: "PropTypes.oneOf([${1}]).isRequired,"

  "React: PropType oneOfType":
    prefix: "ptet",
    body: "PropTypes.oneOfType([${1}]),"

  "React: PropType oneOfType required":
    prefix: "ptetr",
    body: "PropTypes.oneOfType([${1}]).isRequired,"

  "React: PropType arrayOf":
    prefix: "ptao",
    body: "PropTypes.arrayOf(${1}),"

  "React: PropType arrayOf required":
    prefix: "ptaor",
    body: "PropTypes.arrayOf(${1}).isRequired,"

  "React: PropType objectOf":
    prefix: "ptoo",
    body: "PropTypes.objectOf(${1}),"

  "React: PropType objectOf required":
    prefix: "ptoor",
    body: "PropTypes.objectOf(${1}).isRequired,"

  "React: PropType shape":
    prefix: "ptsh",
    body: "PropTypes.shape({${1}}),"

  "React: PropType shape required":
    prefix: "ptshr",
    body: "PropTypes.shape({${1}}).isRequired,"
